<h3 mat-dialog-title class="text-center">Edit todo</h3>
<mat-dialog-content>
    <form [formGroup]="fg" novalidate>
        <div fxLayout="row">
            <div class="w-100">
                <mat-label>Title</mat-label>
                <mat-form-field class="w-100">
                    <input matInput type="text" formControlName="title" id="title" name="title">
                </mat-form-field>
                <div *ngIf="showErrors(fg.controls.title)">
                    <mat-error *ngIf="fg.controls.title.errors?.['required']">Title is required</mat-error>
                </div>
            </div>
        </div>
        <div fxLayout="row">
            <div class="w-100">
                <mat-label>Description</mat-label>
                <mat-form-field class="w-100">
                    <textarea matInput style="resize:none" rows="10" type="text" formControlName="description"
                        id="description" name="description"></textarea>
                </mat-form-field>
            </div>
        </div>
    </form>
</mat-dialog-content>

<div class="text-right">
    <button mat-raised-button color="primary" matTooltip="Ok" (click)="editTodo()" [disabled]="submitInProgress">
        Ok
    </button>
    <button mat-raised-button matTooltip="Cancel" (click)="cancelClick()" [disabled]="submitInProgress">
        Cancel
    </button>
</div>